<div class="container">
    <h1 class="section-title">Reset your password</h1>
    <%= form_tag password_resets_path, :method => :post do %>
        <div class="field">
            <p>Please enter your email to recieve an email link to update password:</p>
            <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "email" %>
        </div>
        <br>
        <div class="actions mt-5">
            <%= submit_tag "Reset Password", class: "btn btn-block btn-primary mt-5" %>
        </div>
    <% end %>
</div>