<% if @article %>
    <div class="container">
        <div class="article-card">
                <div class="<%= @article.image? ? 'article card-body' : 'article card-body-no-image' %>">
                    <div class="col md-6">
                        <h4 class="card-title"><%= @article.title %></h4>
                        <% if @article.user %>
                            <small><p class="card-subtitle mb-2 text-muted">Created by: <%= link_to @article.user.username, user_path(@article.user) if @article.user_id %></p></small>
                        <% end %>
                        <%= @article.content.html_safe %>
                    </div>
                    <% if @article.image && @article.image.url %>
                        <div class="col md-6">
                            <% if @article.image && File.extname(@article.image.url).downcase.in?(['.jpg','.jpeg','.gif','.png']) %>
                                <%= image_tag(@article.image.url, alt: 'Image', :class => "pull-right article-image", id: "image=#{dom_id(@article)}", data: {toggle: "modal", target: "#imgModal-#{dom_id(@article)}"}) %>
                            <% elsif @article.image %>
                                <span><%= link_to File.basename(@article.image.url, ".*" ), @article.image.url, class: "pull-right article-image btn btn-primary" %></span>
                            <% end %>
                        </div>
                    <% end %>
                    <div id="imgModal-<%= dom_id(@article) %>" class="modal fade">
                        <div class="modal-dialog">
                            <div class="model-content">
                                <div class="img modal-body">
                                    <%= image_tag(@article.image.url, class: "picture-modal-whole") if @article.image?%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="UIactions">
            <% if @article.user_id == current_user.id %>                   
                <span class="a"><%= button_to "Delete", article_path(@article), method: :delete, data: { confirm: "are you sure you want to delete this article?"}, class: "btn btn-danger" %></span>
                <span class="a"><%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary"%></span>
            <% end %>
        </div>
        <br>
        <h3>Leave a Reply:</h3>
        <%= render partial: "comments/form", article_id: @article_id %>
        <% if @comments.any? %>
            <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
            <%= render partial: "comment" %>
        <% end %>
    </div>
<% end %>