<h3>Hello</h3>
<p>A new user has signed up for ICFC</p>
<br>
<p>Please verify the following user:</p>
<br>
<b>Email: </b><%= @user.email %>
<br>
<b>Username: </b><%= @user.username %>
<br>
<b>First Name: </b><%= @user.firstname %>
<br>
<b>Last Name: </b><%= @user.lastname %>
<br>
<p>If this user is not known to the ICFC community, please remove their account.</p>