Hi <%= @user.username %>,
<br>
Thanks for registering! An admin user has verified your account and you can now sign in to use the ICFC website:
<br>
<br>
<a href="https//www.icfc.net">Here is the link</a>