<div class="container">
  <div class="cabin-show">
    <% if @cabin %>
      <div class="cabin-info">
        <h1 class="section-title"><%= @cabin.name %></h1>
      </div>
      <div id="comment-form">
          <%= render partial: "cabindates/form", cabin_id: @cabin_id %>
      </div>
    <% end %>
  </div>
  <% if @cabindates.any? %>
    <% @cabindates.each do |date| %>
      <%= date.startdate %>
      <%= date.enddate %>
    <% end %>
  <% end%>

  <script src="cabins.js"></script>
</div>