<% if current_user.id == @user.id %>
    <div class="container">
        <h1>Edit information</h1>

        <%= render 'form', user: @user %>

    </div>
<% else %>
    <strong>You are not allowed to edit this user's information</strong>
<% end %>
