<% @users.each do |user| %>
    <div>
        <%= link_to user_path(user) %>
    </div>
    <div>
        <%= link_to user.username, user_path(user) %>
    </div>
    <div>
        <%= pluralize(user.articles.count, "article") if user.articles %>
    </div>
<% end %>