.dateWrapper {
    display: inline-block;
}

.calendarLink, .calendarLink:visited, .calendarLink:active {
    color: black;
}

.rbc-event.rbc-event-allday.rbc-event-continues-after, 
.rbc-event.rbc-event-allday.rbc-event-continues-prior,
.rbc-event.rbc-event-allday  {
    background-color: white;
    border: 2px solid darkgreen;
    border-radius: 2px;
}