<div class="card">
    <div class="card-header">Exchange Rate</div>
    <div class="card-body">
        <h5>The exchange rate is:</h5>
        <p class="card-text">from USD to CAD.</p>
        <script src="money.js"></script>
    </div>
</div>