<div class="card">
    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
    <div class="card-header">Exchange Rate</div>
        <div class="card-body">
            <h5 class="card-title">The exchange rate is:</h5>
            <p class="card-text">rom USD to CAD.</p>
            <script src="money.js"></script>
        </div>
    </div>
</div>