<div class="card">
    <div class="card-header">Traffic</div>
    <div class="card-body">
        <h5>It will take:</h5>
        <h5>FILL IN API here</h5>
        <p>to get from Pearson Aiport to Moon River Marina</p>
    </div>
</div>