<div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
    <div class="card-header">Traffic</div>
    <div class="card-body">
        <h5 class="card-title">It will take:</h5>
        <h5>FILL IN API here</h5>
        <h5 class="card-title">to get from Pearson Aiport to Moon River Marina</h5>
    </div>
</div>