<div class="container">
    <div align="center">
        <div class="section-title">IRON CITY FISHING CLUB BY-LAWS</div>
        <small><em>Revised November 2003 |
        Organized 1882 |
        Incorporated 1901</em></small>
    </div>
    <br>
    <div class="alert alert-primary" role="alert">Club Purpose: To maintain and preserve a safe haven in the beautiful natural environment of Georgian Bay, and for the members of the Club to enjoy recreational, social, spiritual and educational activities.</div>
    <div class="bylaw-section">
        <h4>ARTICLE I – MEMBERSHIP</h4>
        <div class="bylaw-subsection">
            <p>Section 1 – Classes of Members, Voting Rights</p>
            <ol type="A">
                <li>The Club shall have three (3) classes of members: Corporate, which shall be limited to fifty-five (55) in number, Associate and Intermediate Members.</li>
                <li>A membership may be held jointly by a husband and wife, and in the event of death of either spouse, the membership shall be deemed to have been vested automatically in the surviving spouse without incurrence of an initiation fee.</li>
                <li>Each membership shall be entitled to only one (1) vote.</li>
                <li>Members have the right to attend annual outings and meetings of the Club, and with other members, make use of the Club’s common areas.</li>
            </ol>
        </div>
        <div class="bylaw-subsection">
            <p>Section 2 – Corporate Members </p>
            <ol type="A">
                <li>Corporate Memberships are assessable and have pecuniary and property rights in the Club, not in the nature of an interest in real property, but rather an equitable interest, including an interest in the net assets of the Club upon dissolution.  Normally an initiation fee shall be paid on acquiring a Corporate Membership.  However, a Corporate Membership shall be transferable by a member to his or her brother or sister or to a lineal descendant or the spouse of a lineal descendant, providing such person is an elected member; in which case such transfer shall be made without incurrence of an initiation fee.</li>
                <li>Corporate Members shall have the exclusive right to vote on special assessments, initiation fees, annual dues, amendment or revision of the Club’s By-Laws, and dissolution of the Club.</li>
                <li>A Corporate Member, following his or her resignation as a Corporate Member pursuant to the provisions of Article I, Section 6 of these By-Laws, may become an Associate Member by making application in writing to the Membership Secretary, and in that event he or she shall not be required to pay any initiation fee.</li>
            </ol>
        </div>
        <div class="bylaw-subsection">
            <p>Section 3 – Associate Members</p>
            <ol type="A">
                <li>An Associate Membership shall be non-assessable and non-transferable.  An Associate Membership has no property or pecuniary rights in the Club and has no right to possess a cottage site or to own a cottage.</li>
                <li>An Associate Member shall have the right to vote except on those matters reserved exclusively to Corporate Members as provided in Article I, Section 2B of these By-Laws. </li>
                <li>An Associate Member may at any time become a Corporate Member, provided that there is a Corporate Membership available, by making application in writing to the Membership Secretary and by paying the applicable initiation fee.  The initiation fee paid as an Associate Member shall be applied as a credit against the initiation fee then fixed for Corporate Members.</li>
            </ol>
        </div>
        <div class="bylaw-subsection">
            <p>Section 4 – Intermediate Members</p>
            <ol type="A">
                <li>Intermediate Members shall be persons between the ages of twenty-six (26) and forty-four (44) who are not Corporate Members.   In case of a married couple, the age of the older spouse shall determine eligibility for Intermediate Membership. 
                <li>An Intermediate Membership shall be a non-assessable and non-transferable membership.  An Intermediate Membership has no property or pecuniary rights in the Club and has no right to possess a cottage site or to own a cottage.  
                <li>An Intermediate Member shall have the right to vote except on those matters reserved exclusively to Corporate Members as provided in Article I, Section 2B of these By-Laws. 
                <li>An Intermediate Member may become a Corporate Member at any time, provided that there is a Corporate Membership available, but on January 1st of the year in which he or she reaches age forty-five (45) must become either an Associate or Corporate Member to maintain membership in the Club.  An Intermediate Member becomes a Corporate Member or an Associate Member by making application in writing to the Membership Secretary and by paying the applicable initiation fee.  The initiation fee originally paid by the Intermediate Member shall be applied as a credit against the initiation fee then fixed for the class of membership to which he or she has made application.
            </ol>
        </div>
        <div class="bylaw-subsection">
            <p>Section 5 – Applications for Membership, Changes in Class of Membership or Transfer of Corporate Membership. All applications for membership, for changes in class of membership or for approval of the transfer of a Corporate Membership, shall be made in writing to the Membership Secretary.</p>
            <ol type="A">
                <li>Applications for Membership</li>
                <ol>
                    <li>A member shall propose a candidate for membership by February 15th to the Membership Secretary who shall refer the proposal to the Membership and Guest Committee Chair.  At this time a letter is required from the proposer and two letters of recommendation from other members who preferably are not family members.  The Committee has the right to waive one letter of recommendation for a child or grandchild of a member.The Membership and Guest Chair shall present the name of the proposed candidate to the Membership and Guest Committee and the Board of Directors no later than the Spring Board Meeting. If the Committee approves the candidate, his or her name shall be posted during the summer encampment and included in communications to the Club Membership.  At the end of encampment, the Committee will decide whether a candidate is ready to be formally considered for membership.  If so, the proposer will be notified by the Membership Secretary that the Membership and Guest Committee will entertain a formal application for membership by the proposer and candidate, which is due by September 15th.</li>
                    <li>All applications shall be subject to approval by a vote of three-fourths (3/4) of the members of the Club taken at the Annual Meeting.  The Membership Secretary shall give written notice to all members of such applications not less than fifteen (15) days prior to the meeting.  This notice, and its accompanying ballot form, may be delivered by postal or by electronic mail according to the member’s stated wish.  The notice shall be accompanied by form of ballot, which the Membership Secretary shall cast at the meeting on behalf of a member if the ballot is properly completed and executed by the member and delivered, by postal mail or by signed telephonic facsimile, to the Membership Secretary prior to the meeting.  At the meeting the vote shall be taken by secret ballot. </li>
                </ol>
                <li>Applications for Changes in Class on Membership or Transfer of a Corporate Membership</li>
                <ol>
                    <li>Applications for changes in class of membership or for transfer of a Corporate Membership shall be approved upon receipt of the applicable initiation fee, if any, provided all financial obligations to the Club of the applicant or transferor shall have been fully paid and satisfied.</li>
                    <li>Corporate Members who make application for an Associate Membership after the date fixed in any year for the payment of dues shall not be entitled to a reduction or refund of dues for that year.</li>
                </ol>
            </ol>
        </div>
        <div class="bylaw-subsection">
            <p>Section 6 - Resignation of Members</p>
            <p>A member may resign at any time by giving notice in writing to the Membership Secretary; provided that all dues, assessments, charges and other obligations assessed and charged against the resigning member have been paid in full; and provided further that the resignation of a Corporate Member shall not become effective until he or she shall have disposed of his or her cottage, if any, to another Corporate Member who is in good standing or shall have assigned and released to the Club all of his or her rights and interests in the Club.</p>
        </div>
        <div class="bylaw-subsection">
            <p>Section 7 – Expulsion of Members</p>
            <p>Any member may be expelled for drunkenness, profanity, disorderly conduct, drug abuse, or any other offense deemed subversive to the peace, harmony, and prosperity of the Club.  A three-fourths (3/4) vote of the entire membership shall be required for expulsion.  All the member’s rights and property in the Club, including a cottage, if any, on his designated site, shall be forfeited.  Furnishings and other personal property shall likewise be forfeited unless the expelled member removes or disposes of same before the next encampment.  In the meantime, such furnishings shall be subject to use by anyone lawfully occupying such cottage.  The Board of Directors may sell the said membership and all property appertaining thereto.  If there should remain from the proceeds of such sale any sum in excess of the costs incurred and the total amount due the Club, the Board of Directors shall return such sum to the former member.</p>
        </div>
        <div class="bylaw-subsection">
            <p>Section 8 – Guests</p>
            <ol type="A">
                <li>Guests must be recommended and sponsored by a member who is to be present throughout the visit.  A member may take to the camp as many guests as he or she can accommodate.  Guests may open a guest account while in camp.  When charges of a guest are in default, they should be charged to the account of the sponsoring member.</li>
                <li>No one under the age of twenty-six (26) may be in camp unless sponsored by a member who is present in camp.  The sponsor shall advise the Club office at the time of reservation.</li>
                <li>Any member sponsoring a guest shall be responsible for the conduct of such guest and for any damage to Club property or to private property, caused by such guest.  The Board of Directors shall be the judge of the amount of such damage and the same shall be collected from the member in the same manner as a special assessment.</li>
            </ol>
        </div>
    </div>
    <div class="bylaw-section">
        <h4>ARTICLE II - DIRECTORS</h4>
        <div class="bylaw-subsection">
            <p>Section 1 – Duties and Responsibilities</p>
            <ol type="A">
                <li>The Board of Directors shall be in charge of the property, affairs, and management of the Club.  It shall act according to the Charter, By-Laws, and all decisions taken in meetings of the members. </li>
                <li>The Board has the authority to create committees, and delegate authority to them; employ a business manager and other staff, enter into contracts, maintain bank accounts and to disperse funds, assign sites, set the outing and boat rates and times for the Annual Encampment, and recommend membership dues and initiation fees.  It may authorize expenditures not directly connected with the Annual Outing up to a limit, per expenditure or in aggregate, determined from time to time by a majority of the membership at a meeting of the Members.</li>
                <li>The Board may create an Executive Committee, appoint its members and delegate authority to it.</li>
            </ol>
        </div>
        <div class="bylaw-subsection">
            <p>Section 2 - Composition</p>
            <ol type="A">
                <li>The Board of Directors shall consist of twelve (12) elected Directors and the Officers of the Club.  At least two-thirds (2/3) of the elected Directors shall be Corporate Members.  Four (4) Directors shall be elected at each Annual Meeting to serve a three (3) year term commencing on that date.  The officers are Members of the Board and are entitled to vote.  No Director is eligible for re-election until one (1) year has elapsed following his or her previous term.  The immediate past-President shall be a member of the Board of Directors for one (1) year. 
                <li>The Boa rd may fill any vacancies occurring in its body, or among the officers of the Club, otherwise than by expiration of term, and successors so appointed shall serve for the unexpired term of their predecessors or until elected.  They are eligible for re-election if they have served less than two (2) years of their predecessor’s term.
            </ol>
        </div>
        <div class="bylaw-subsection">
            <p>Section 3 – Meetings</p>
            <p>The Board of Directors shall meet at the call of the President.  The meetings may be conducted in person, by telephone or video conference or by electronic mail.  Directors’ meetings shall also be called upon the written request of any five (5) members of the Board.  A majority of those eligible to vote at Board meetings shall constitute a quorum.</p>
        </div>
    </div>
    <div class="bylaw-section">
        <h4>ARTICLE III – OFFICERS</h4>
        <div class="bylaw-subsection">
            <p>Section 1 - Titles</p>
            <p>The Officers of the Club shall be a President, three Vice Presidents, a Treasurer, and an Assistant Treasurer, a Recording Secretary, and a Membership Secretary.  The officers shall be elected by the membership at its Annual Meeting for a one (1) year term commencing on that date.  They need not be Directors.  Any officers or employees having control of Club funds will be properly bonded.</p>
        </div>
        <div class="bylaw-subsection">
            <p>Section 2 - President</p>
            <p>The President is the chief executive officer of the Club and is responsible for the administration of its activities in accordance with the authority conferred on him or her by the Board of Directors. </p>
            <p>The President shall:</p>
            <ol type="A">
                <li>Preside at all meetings of the Membership and of the Board of Directors. </li>
                <li>Appoint all committee members and designate chairmen thereof, and serve as an Ex-officio Member of each committee. </li>
                <li>Appoint delegates to organizations in which the Club has an interest. </li>
                <li>Report to the Board of Directors and the Membership regarding the operation of the Club at regularly scheduled meetings of both groups.  </li>
                <li>Sign contracts on behalf of the Club, and as authorized by the Board.</li>
            </ol>
        <div class="bylaw-subsection">
            <p>Section 3 – Vice Presidents</p> 
            <p>The Vice Presidents shall perform the duties of the President in case of his or her absence or disability.</p>
        </div>
        <div class="bylaw-subsection">
        <p>Section 4 – Recording Secretary</p>           
        <p>The Recording Secretary shall:</p>  
            <ol type="A">
                <li>Record the minutes of all Meetings of the Membership and of the Board of Directors. </li>
                <li>Maintain all records of the Club, such as a master plan of the camp, and the cottage sites and docks, and when assigned to each Corporate Member.    </li>
                <li>Notify members of meetings, dues and assessments.</li>
            </ol>
        </div>
        <div class="bylaw-subsection">
        <p>Section 5 – Membership Secretary</p>
        <p>The Membership Secretary shall: </p>  
            <ol type="A">        
                <li>Maintain all membership records.  Birth dates of Intermediate Members shall be recorded. </li>
                <li>Perform all duties of the Recording Secretary when the Recording Secretary is absent. </li>
                <li>Process all applications for membership, changes in class of membership and transfers of Corporate Memberships. </li>
            </ol>
        </div>
        <div class="bylaw-subsection">
        <p>Section 6 - Treasurer</p>
        <p>The Treasurer shall: </p>
            <ol type="A">
                <li>Be responsible for all Club funds, and securities and financial reports. </li>
                <li>Maintain adequate record of all financial transactions. </li>
                <li>Serve on the Finance Committee which prepares the annual budget. </li>
            </ol>
        </div>
        <div class="bylaw-subsection">
        <p>Section 7 – Assistant Treasurer</p>
        <p>The Assistant Treasurer shall: </p>
            <ol type="A">
                <li>Perform all duties of the Treasurer when the Treasurer is absent. </li>
                <li>Serve on the Finance Committee. </li>
            </ol>
        </div>
    </div>
    <div class="bylaw-section">
        <h4>ARTICLE IV – MEETINGS</h4>
        <div class="bylaw-subsection">
            <p>Section 1 – Annual Meetings</p>
            <p>The Annual Meeting of the Members shall be held in Pittsburgh, Pennsylvania, each year at a time and place designated by the Board of Directors. </p>
        </div>
        <div class="bylaw-subsection">
            <p>Section 2 – Semi-Annual Meetings</p>
            <p>A Meeting of the Members shall be held each year in camp for the transaction of such business as may properly come before it.</p>
        </div>
        <div class="bylaw-subsection">
            <p>Section 3 – Special Meetings</p>
            <p>Special Meetings of the Members may be called at any time by the President or upon the written request of ten (10) members.</p>
        </div>
        <div class="bylaw-subsection">
            <p>Section 4 – Notice for Meetings</p>
            <p>Fifteen (15) days’ notice shall be given for all meetings.  This notice, and any accompanying materials including ballot forms, may be delivered by postal or by electronic mail according to the member’s stated wish.  Notice for special meetings shall state the purpose for which the meeting is being called.</p>
        </div>
        <div class="bylaw-subsection">
            <p>Section 5 - Quorum</p>
            <p>The members present at a regular or special meeting shall constitute a quorum.</p>
        </div>
        <div class="bylaw-subsection">
            <p>Section 6 – Absentee Voting</p>
            <p>Absentee voting is permitted providing the ballot is delivered, by postal mail or by signed telephonic facsimile, to the Recording or Membership Secretary before the meeting.</p>
        </div>
    </div>
    <div class="bylaw-section">
        <h4>ARTICLE V - INITIATION FEES, DUES, ASSESSMENTS AND OUTING CHARGES</h4>
        <div class="bylaw-subsection">
            <p>Section 1 – Initiation Fees and Annual Dues</p>
            <ol type="A">
                <li>The initiation fees for each class of member shall be fixed by vote of the Corporate Members from time to time and shall be payable within thirty (30) days of receipt of notice of approval of application for membership.  Initiation fees shall not be refundable.</li>
                <li>Annual dues for each class of members shall be fixed by vote of the Corporate Members from time to time and shall be payable on January 1st of each year. </li>
            </ol>
        </div>
        <div class="bylaw-subsection">
            <p>Section 2 – Special Assessments</p>
            <p>Special assessments may be made at any regular or special meeting of the membership, upon the affirmative vote by written ballot of a majority of the Corporate Members, providing that fifteen (15) days notice of such proposed special assessment, stating the purpose thereof, shall have been given to each member.  The due date for a special assessment shall be included in the motion for such assessment.</p>
        </div>
        <div class="bylaw-subsection">
            <p>Section 3 – Outing Charges</p>
            <ol type="A">
                <li>Outing charges for members and guests, as fixed by the Board of Directors, shall be paid in full when leaving camp.  A minimum outing charge may be set by the Board of Directors and is payable in advance of the encampment.</li>
                <li>Single Corporate Members and Associate Members may bring to camp with them a companion-guest at the regular membership rate.</li>
            </ol>
        </div>
        <div class="bylaw-subsection">
            <p>Section 4 – Default, Forfeiture and Reinstatement Procedure </p>
            <ol type="A">
                <li>Any member who shall be in default on payment of annual dues and/or special assessments for two (2) years shall, upon resolution adopted by the Board of Directors, forfeit to the Club his membership together with his pecuniary and property rights in the Club.  Upon such forfeiture being declared, written notice, together with a copy of the By-Laws, shall be mailed to the defaulting member at his or her last known address. </li>
                <li>If such member in default shall not have fully paid and satisfied all the claims of the Club against him within thirty (30) days after notice of forfeiture then the Board of Directors may sell said membership and all property pertaining thereto, including a cottage, on his designated site without further notice.  Furnishings and other personal property shall likewise be forfeited unless the defaulting member removes or disposes of same before the next encampment.  In the meantime, such furnishing shall be subject to use by anyone lawfully occupying such cottage.  If there shall remain from the proceeds of such sale any sum in excess of the costs incurred and the total amount due the Club, the Board of Directors shall return such sum to the former member.</li>
                <li>Until the Board of Directors shall have actually sold such forfeited membership, it may consent to the redemption by such member upon the payment in full of all amounts due the Club, and the expense, if any, incurred by such forfeiture.</li>
            </ol>
        </div>
        <div class="bylaw-subsection">
            <p>Section 5 – Death of a Member </p>
            <p>In the case of the death of a member, such membership may be carried on the records of the Club in the name of the Estate of such deceased member for a period not to exceed two (2) years.  The Board of Directors may, at its discretion, extend such privilege on an annual basis.  If at the expiration of such period, such membership shall not have been transferred to an individual, it shall be forfeited to the Club and disposed of in accordance with the provisions of the preceding Section of this Article.  Nothing herein, however, shall be held to relieve such Estate from the payment of all dues and assessments accruing upon such membership while held in the name of the Estate.</p>
        </div>
    </div>
    <div class="bylaw-section">
        <h4>ARTICLE VI – COMMITTEES</h4>
        <div class="bylaw-subsection">
            <p>Section 1 – Appointment of Committee Members </p>
            <p>The President shall appoint all committee members and committee Chairpersons, with the exception of the Executive Committee, which may be appointed by the Board.  Committee titles and responsibilities shall be established from time to time as authorized at a meeting of the Members or at a meeting of the Board of Directors.</p>
        </div>
        <div class="bylaw-subsection">
            <p>Section 2 – Standing Committees</p>
            <p>There shall be standing Committees responsible for the areas of : Archives; Commissary; Communications; Entertainment; Environment and Education; Finance; Government and Community;  Health; House; Human Resources; Insurance and Legal; Landscape and Litter; Library; Lodge; Membership and Guest; Newsletter; Nominating; Property; Recreation; Sunday Devotional; and Yearbook.</p>
        </div>
        <div class="bylaw-subsection">
            <p>Section 3 – Committee Meetings</p>
            <p>Every committee shall meet at least once during the year at the call of its Chairperson and submit a report to the membership.
        </div>
        <div class="bylaw-subsection">
            <p>Section 4 – Nominating Committee</p>
            <p>A Nominating Committee shall be appointed annually by the President and shall consist of three (3) members: one (1) from the Board and two (2) from the membership.  The Committee shall be announced at the summer meeting.  The slate of Directors and Officers shall be presented with the notice of the Annual Meeting.  Nominations may be made from the floor at the Annual Meeting, provided the candidate has given prior permission for submission of his or her name, and there are two (2) seconders to the nomination.  If there are nominations from the floor, the election shall be held by secret ballot.</p>
        </div>
        <div class="bylaw-subsection">
            <p>Section 5 – Ex-Officio Board Members</p>
            <p>Upon action of the Board of Directors, any Committee Chairperson may serve as an Ex-officio Member of the Board of Directors, without a vote.</p>
        </div>
    </div>
    <div class="bylaw-section">
        <h4>ARTICLE VII – SITES, COTTAGES AND OTHER STRUCTURES</h4>
        <div class="bylaw-subsection">
            <p>Section 1 – Cottage Sites</p>
            <p>Each Corporate Member is entitled to one (1) site for a cottage, subject to such regulations as provided herein, or as promulgated by the Board of Directors, the right of a member to such site shall not be an absolute right to the ground, but shall be considered a revocable license granted by the Club.</p>
        </div>
        <div class="bylaw-subsection">
            <p>Section 2 – Camp Master Plan</p>
            <p>The  Board retains the right at any time to change the master plan of the camp in whole or in part, including cottage sites, docks, boat storage, and other outbuildings.</p>
        </div>
        <div class="bylaw-subsection">
            <p>Section 3 - Application for Site </p>
            <ol type="A">
                <li>All applications for sites shall be in writing and shall be delivered to the Recording Secretary who shall immediately submit same to the Board of Directors for its action. </li>
                <li>All assignments of site shall be made by the Board of Directors from the sites designated on the master plan of the camp kept by the Recording Secretary.  The Property Committee may from time to time recommend additional sites to the Board of Directors.  No sites shall be available which are not shown on the said plan.</li>
                <li>When a site has been duly assigned to a member, the member has three (3) years from the date of assignment to build a cottage thereon.  If construction has not begun within this three (3) year period, the site may be assigned to some other member whose application shall have been filed with the Recording Secretary.</li>
                <li>After a site has been duly assigned, the member, at his own expense, may erect a cottage thereon.  The member must first submit his plans to the Property Committee for review, then to the Board of Directors for its approval.  The member must then secure a building permit from the proper governmental authority.  The member shall reimburse the Club for any costs advanced by the Club for engineering, permits, or other costs related to the new cottage.</li>
                <li>Any additions or alterations to a cottage, or the erection of any permanent structure, including docks, shall likewise be subject to the same procedures as specified in the previous clause D.</li>
            </ol>
        </div>
        <div class="bylaw-subsection">
            <p>Section 4 – Maintenance of Cottages 
            <ol type="A">
                <li>A member who has been assigned a private site for a cottage, boathouse, dock or any other structure shall maintain that structure in a safe and habitable condition.  If at any time that structure shall, in the sole opinion of the Board, be inadequately maintained, it shall be the duty of the Property Committee to examine the same and report in writing to the Board of Directors, specifying the defects and the repairs necessary.  The Board of Directors shall send a copy of said report, together with a copy of this Section of the By-Laws, to the holder of the structure, with notice to make the necessary repairs, or demolish it.<</li>
                <li>If the holder of a said structure shall refuse or neglect to make the specified repairs prior to the next encampment, the Club shall repair or demolish it and charge the holder the actual cost.</li>
            </ol>
        </div>
    </div>
    <div class="bylaw-section">
        <h4>ARTICLE VIII – LIMITED LIABILITY OF DIRECTORS; INDEMNIFICATION OF DIRECTORS, OFFICERS AND OTHERS</h4>
            <p>To the fullest extent that the laws of the Commonwealth of Pennsylvania, as in effect on January 27, 1987, or as thereafter amended, permit elimination or limitation of the liability of Directors, no Directors of the Club shall be personally liable for monetary damages as such for any action taken, or any failure to take any action, as a Director.</p>
        <div class="bylaw-subsection">
            <p>Section 1 - Right to Indemnification</p>
            <p>Each person who at any time is or shall have been a Director, officer or employee of the Club, and his heirs, executors and administrators, shall be indemnified by the Club in accordance with and to the full extent permitted by the laws of the Commonwealth of Pennsylvania.  The foregoing right of indemnification shall constitute a contract between the Club and each of its Directors, officers and employees and shall not be deemed exclusive of other rights to which any Director, officer, employee, agent or other person may be entitled in any capacity as a matter of law or under any by-law, agreement, vote of the Directors, or otherwise.</p>
        </div>
        <div class="bylaw-subsection">
            <p>Section 2 – Right to Advancement of Expenses </p>
            <p>Every person entitled to be indemnified hereunder shall be entitled to have his or her expenses in defending any action, or in initiating and pursuing any action for indemnity or advancement of expenses, paid in advance by the Club prior to final disposition of such action; provided that the Club receives a written undertaking by or on behalf of such person to repay the amount advanced if it should ultimately be determined that such person is not entitled to be indemnified for such expenses.</p>
        </div>
        <div class="bylaw-subsection">
            <p>Section 3 – Right to Purchase Insurance </p>
            <p>The Club may purchase and maintain insurance to protect itself and any person eligible to be indemnified hereunder against any expense or liability asserted or incurred by such person in connection with any action, whether or not the Club would have the power to indemnify such person against such expense or liability by law or under the provisions of this Article.</p>
        </div>
        <div class="bylaw-subsection">
            <p>Section 4 – Applicability of Article </p>
            <p>This Article shall apply to every action other than an action filed prior to January 27, 1987, except that it shall not apply to the extent that Pennsylvania law does not permit its application to any breach of performance of duty or any failure of performance of duty by any Director or indemnitee occurring prior to January 27, 1987.</p>
        </div>
    <div class="bylaw-section">
        <h4>ARTICLE IX – AMENDMENTS</h4>
        <div class="bylaw-subsection">
            <p>Section 1 </p>
            <p>These By-Laws may be amended by a two-thirds (2/3) vote of Corporate Members at any regular or special meeting of the membership at which not fewer than thirty (30) Corporate members are present, or whose absentee ballots are submitted to the Recording Secretary, provided that fifteen (15) days’ written notice of the proposed amendment shall have been given to each member.</p>
        </div>
    </div>
    <div class="bylaw-section">
        <h4>ARTICLE X – FLAG</h4>
        <div class="bylaw-subsection">
            <p>Section 1</p>
            <p>The official flag of the Club shall be triangular in shape, the base two-thirds (2/3) of the length.  The colors shall be red, white and blue, arranged as follows: The outer border shall be red, of the width of one-eighth (1/8) of the length of the base; next a strip of white the same width; and the remaining center space is blue.  Camp and launch flags shall have the monogram IC on white at the apex of the triangle.</p>
        </div>
    </div>
    <div class="bylaw-section">
        <h4>ARTICLE XI – PARLIAMENTARY AUTHORITY</h4>
        <div class="bylaw-subsection">
            <p>Section 1</p>
            <p>All parliamentary questions shall be decided by the latest revised edition of Robert’s Rules of Order unless inconsistent with these By-Laws.</p>
        </div>
    </div>
</div>