<div class="dashboard">
    <div class="row">
        <div class="dashboard-column">
            <%= render partial: "weather" %>
        </div>
        <br><br>
        <div class="dashboard-column">
            <%= render partial: "exchange_rate" %>
        </div>
    </div>
    <div class="row">
        <div class="dashboard-column">
            <div class="card-body">
                <h5>Breakfast</h5>
                <p id="breakfast-card-text">Text</p>
            </div>
        </div>
        <br><br>
        <div class="dashboard-column">
            <%= render partial: "traffic" %>
        </div>
    </div>
</div>

<script src="breakfast.js"></script>