<div class="static container">
  <div class="section-title" align="center">Planned Giving</div>
  <p>Dear Iron Citiizens,</p>
  <p>Iron City holds a special place in the hearts and minds of all of us. The deep connection we feel
  for one another and the remarkable Georgian Bay landscape have created a unique combination
  that makes Iron City is a “must” destination in members’ annual vacation planning.
  It seems hard to believe but not only is another summer coming, but it will soon be upon us. No
  doubt many of us are already planning for the 2013 encampment. We hope you will take a
  moment to consider this request for your support.</p>
  <p>The cost of maintaining our club on an annual basis seems to rise at a rate faster than inflation,
  and club members have taken more active leadership roles in issues around the health and wellbeing of the Georgian Bay community. We are writing to ask you to consider investing in the
  future of our club by supporting the Iron City Endowment Fund and/or the Iron City Charitable
  Gift Fund.</p>
  <strong><p>ENDOWMENT FUND</p></strong>
  <p>In 2011, we began a more public campaign to ask members to support the Endowment. Many
  generous members immediately stepped up with both one-time gifts and multi-year pledges, and
  by the time of the 2011 Annual Meeting, we were blessed to have received gifts and pledges
  totalling well over $100,000. The value of the Endowment Fund at the time of the Annual
  Meeting in November 2012 was approximately $875,000. Our goal is to reach the million dollar
  mark by 2015 - and go well beyond!</p></strong>
  <p>In addition to receiving new gifts for the Endowment, last year the Board approved a new policy
  related to the Endowment that would allow dividend and interest income to be used for capital
  projects at the Club without having to be repaid, subject to the fund maintaining a value of over
  $1 million. This move should help us alleviate some future cost pressures on membership dues
  and outing fees – but only when we hit the million dollar mark and maintain it.</p>
  <strong><p>CHARITABLE GIFT FUND</p></strong>
  <p>In 2010, Clive and Nancy Runnells gave a very generous gift of $100,000 to the Charitable Gift
  Fund (CGF). That money is helping us do more for the Georgian Bay and Parry Sound
  communities. One of the most significant programs of the CGF has been to create a scholarship
  program for students at Parry Sound High School to help them be the first in their family to go 
  on to post-secondary education. In addition, the CGF has also provided support to the Festival of
  the Sound, the West Parry Sound Health Centre and the fish restocking program. The value of
  the Charitable Gift Fund at the time of the Annual Meeting in November 2012 was $320,000.</p>
  <strong><p>GOALS</p></strong>
  <p>Because these two funds are very important to the long-term health of Iron City and its
  community, the Board has set some financial targets to work towards over the coming years:</p>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Year ending December 31</th>
        <th scope="col">Endowment Fund</th>
        <th scope="col">Charitable Gift Fund</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2015</td>
        <td>$1,000,000</td>
        <td>$400,000</td>
      </tr>
      <tr>
        <td>2020</td>
        <td>$1,250,000 </td>
        <td>$450,000</td>
      </tr>
      <tr>
        <td>2025</td>
        <td>$1,500,000</td>
        <td>$500,000</td>
      </tr>
    </tbody>
  </table>
  <strong><p>HOW CAN YOU HELP?</p></strong>
  <p>Here are several ways in which you can help:<p>
  <ol>
      <li>Planned Giving: Please consider making a planned gift to the Endowment and/or Charitable
      Gift Funds in your will. The two most common types of planned gifts are bequests and gifts
      of life insurance. More information on each is attached with this letter.</li> 
      <li>Annual Giving: Consider making an annual pledge to either or both Funds. Over the last 2
      years, during the initial Endowment campaign, several members pledged money over a 2-5
      year time frame. This is an effective way of spreading payments over time rather than giving
      a lump sum.</li> 
      <li>Rounding Up: When paying your annual membership dues and/or your outing fees for
      summer encampment, please consider adding a voluntary amount to the Endowment on your
      invoice. If you are not concerned about getting a charitable tax receipt, you can also choose
      to make a gift to the Charitable Gift Fund this way, too. (If a charitable tax receipt is
      important to you, you will need to donate directly to it through The Pittsburgh Foundation.)</li> 
      <li>Giving the gift of Iron City: Are you challenged for gift ideas to commemorate birthdays,
      anniversaries, Christmas, etc.? Rather than buying a gift for these occasions, why not honor
      your loved ones by making a donation to one or both of the Funds, which will create a lasting
      legacy?</li> 
  </ol>
  <p>We sincerely hope that you will consider investing in the future of Iron City, so that it remains
  available for generations to come. If you require further information, please don’t hesitate to
  contact us or stop us on the boardwalk this summer. Rah Rah Ray!!</p>
  <em><p>Yours sincerely,</p>
  <p>Bruce Fred</p>
  <p>Bruce Lawson Fred Crawford</p>
  <p>Chair, Endowment Fundraising Committee Chair, Charitable Gift Fund</p></em>
</div>