.ReactModal__Content.ReactModal__Content--after-open {
    z-index: 9999;
    height: 45vh;
    margin-top: 10vh;
    background-color: #ffff;
}

.rbc-row-content {
    z-index: 0 !important;
}

.reactPageAppContainer {
    min-height: 80vh;
}

.ui.inverted.vertical.labeled.icon.ui.overlay.left.thin.visible.sidebar.sidebar.menu {
    background-color: white;
    padding: 10px;
    .item {
        color: black;
        text-align: left;
    }
    .sidebar-link {
        color: black;
        text-align: left;
        padding: 3px;
    }
}

.ui.inverted.menu .item, .ui.inverted.menu .item>a:not(.ui) {
    color: black !important;
}

.centered-login-portal.ui.card {
    margin: 0px auto;
    .login-portal-image.image {
        img {
            height: 300px;
            object-fit: cover; 
            object-position: 100% 100%;
        }
    }
}
 
.ui.checkbox.mobile-sidebar-checkbox {
    position: absolute;
    z-index: 1000;
    right: 10px;
    top: 10vh;
}

@media screen and (min-width: 700px) {
    .ui.checkbox.mobile-sidebar-checkbox {
        display: none;
    }
}