.containerMain {
    margin: 80px 40px 100px 70px;
    min-height: 78vh;
    padding-bottom: 140px;
}

.body {
    background-color: white;
}

.modalMain {
    width: 66%;
    margin: 0 auto;
}

.ReactModal__Content.ReactModal__Content--after-open {
    width: 50%;
    height: 70%;
    margin: 0 auto;
    z-index: 9999;
    opacity: 1;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    margin-top: 60px;
}