* {
    font-size: 13px;
}

.containerMain {
    margin: 80px 40px 100px 70px;
    min-height: 78vh;
    padding-bottom: 140px;
}

.body {
    background-color: white;
}

.modalMain {
    width: 80%;
    margin: 0 auto;
}

.ReactModal__Content.ReactModal__Content--after-open {
    width: 80%;
    height: 70%;
    margin: 0 auto;
    z-index: 9999;
    opacity: 1;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    margin-top: 60px;
}

trix-editor {
    border-radius: 3px;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    border-bottom: 2px solid darkgrey;
    padding: 5;
    margin-top: 6;
    margin-bottom: 5;
    min-height: 100px;
    max-width: 100%;
}

.trix-button-group.trix-button-group--file-tools {
    display: none;
}