<div class="form-inline">
    <div class="row">
            <%= simple_form_for(@room, html: { multipart: true }) do |f| %>
            <div class="input-group rooms-form">
                <span class="input-group-addon" id="basic-addon1">
                    <%= f.text_field :name, placeholder: "Room Name", class: "form-control" %>
                </span>
                <span class="input-group-addon" id="basic-addon">
                    <%= f.button :submit, "Save", class: "btn btn-md btn-success", id: "room-save-btn" %>
                </span>
            </div>
        <% end %>
    </div>
</div>
