// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-image {
    max-width: 360px;
}

.article-card {
    margin-top: 20px;
}

.a {
    display: inline-block;
}

.UIactions {
    padding: 10px;
    background-color: gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article.card-body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    display: grid;
    grid-template-columns: 66% 33%;
    grid-template-rows: auto;
}

.article-card-pinned {
    background-color: #fffcc9;
}

.article-banner-action {
    display: inline-block;
}

.article.card-body-no-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}

.comment.card.body {
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

.article-image {
    cursor: pointer;
}

.article-marque {
    padding: 8px 15px;
    color: white;
    background: linear-gradient(to right, #006600 0%, #339966 100%);
    border-bottom: 2px solid rgba(black, 0.3);
    .recent-updates {
        margin-right: 12px;
    }
    span, div.link {
        display: inline-block;
    }
    div.link {
        border: 1px solid rgba(black, 0);
        background-color: rgba(white, 1);
        padding: 5px;
        border-radius: 4px;
        text-decoration: none;
        margin: 0px 8px;
    }
}

@media only screen and (max-width: 414px) {
    .article.card-body {
        display: flex;
        flex-direction: column;
        flex: 1;
        .card-text {
            width: 100%;
        }
        .pull-right.article-image {
            width: 100%;
        }
    }
}