// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-image {
    max-width: 360px;
}

.article-card {
    margin-top: 20px;
}

.a {
    display: inline-block;
}

.UIactions {
    padding: 10px;
    background-color: gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article.card-body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    display: grid;
    grid-template-columns: 66% 33%;
    grid-template-rows: auto;
}

.comment.card.body {
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

.comment-count {
    float: right;
    color: white;
}