// Place all the styles related to the cabins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cabin.card {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    .cabin.card-img-top {
        object-fit: cover;
        width: 100%;
        height: 150px;
    }
}

.cabin-grid {
    margin: 0px auto;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: auto;
}

#mapid { 
    height: 180px; 
}

.cabin-dates {
    padding-left: 30px;
}

.cabin-show {
    display: grid;
    grid-template-columns: 50% 50%;
    line-height: 23px;
    .cabin-image {
        max-width: 300px;
    }
    .bedrooms {
        background-color: green;
        color: white;
    }
    .dock {
        background-color: blue;
        color: white;
    }
    .wheelchair {
        background-color: orange;
        color: white;
    }
}