// Place all the styles related to the cabins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cabin.card {
    border: 1px solid lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin: 5px;
    .cabin.card-img-top {
        object-fit: cover;
        width: 100%;
        height: 150px;
    }
}

.cabin-grid {
    display: flex;
    flex-wrap: auto;

}

.cabin-delete {
    margin-top: 5px;
}
#mapid { 
    height: 280px; 
}

.individual-cabin {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 3vw;
}

.cabin-img-container {
    background-color: black;
}

.cabin-individual-img {
    margin: 0 auto;
    height: 40vh;
    display: none;
    max-width: 100%;
}

.img-scroll-btn {
    position: relative;
    height: 100%;
}

@media (max-device-width: 400px) {
    .card.cabin {
        width: 100%;
        overflow: hidden;
    }
}