/* calendar */

#articles .calendar {
    border-collapse: collapse;
    border: 1px solid white;
    border-radius: 4px;
    width: 100%;

    td, th {
        font-size: 10px;
        padding: 6px;
        border: 1px solid #999;
    }

    th {
        background: #DDD;
        color: #666;
        text-align: center;
        width: 14.2857%
    }

    td {
        background: #FFF;
        color: #777;
        height: 80px;
        vertical-align: top;
        font-size: 16px;
    }

    .notmonth { color: #CCC; }
    .today { background-color: #D7F2FF}
}

#articles #month {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    a {
        text-decoration: none;
        padding: 0 10px;
        color: #999;
    }
}

#articles ul {
    font-size: 11px;
    padding-left: 20px;
}

@media only screen and (max-device-width: 400px) {
    .calendar.container {
        height: 900px;
        #articles {
            height: 100%;
            td {
                height: 150px;
            }
        }
    }
}