@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* fonts */

.history-section {
    font-family: 'Amatic SC', cursive;
    font-size: 34px;
}
.section-title {
    font-family: 'Amatic SC', cursive;
    font-size: 34px;
}

/* container */

.container {
    margin-bottom: 200px;
}


/* navbar */

.navbar.navbar-default {
    background-color: black;
    border-radius: 0;
    .navbar-brand {
        color: white;
    }
    .dropdown-toggle {
        color: white;
    }
}

.navbar-brand {
    height: 58px;
}

/* footer */

.footer {
    background-color: black;
    vertical-align: center;
    font-size: 0.8em;
    color: white;
    .footer-left {
        display: inline-block;
    }
}

/* customs */

.swim-test-subtext {
    padding: 10px;
}

/* calendar */

#articles .calendar {
    border-collapse: collapse;
    width: 100%;

    td, th {
        font-size: 10px;
        padding: 6px;
        border: 1px solid #999;
    }

    th {
        background: #DDD;
        color: #666;
        text-align: center;
        width: 14.2857%
    }

    td {
        background: #FFF;
        color: #777;
        height: 80px;
        vertical-align: top;
        font-size: 16px;
    }

    .notmonth { color: #CCC; }
    .today { background-color: #D7F2FF}
}

#articles #month {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    a {
        text-decoration: none;
        padding: 0 10px;
        color: #999;
    }
}

#articles ul {
    font-size: 11px;
    padding-left: 20px;
}


