@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* fonts */

.history-section {
    font-family: 'Amatic SC', cursive;
    font-size: 34px;
}
.section-title {
    font-family: 'Amatic SC', cursive;
    font-size: 34px;
}

.form-container {
    width: 70%;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0px solid black;
    border-radius: 5px;
    .form-group {
        width: 70%;
        margin: 0 auto;
        padding: 5px;
    }
}
/* container */

.container {
    margin-bottom: 200px;
}

/* articles */

.card-title {
    border-bottom: 1px grey dashed;
}

/* buttons */

.buttonrow {
    display: inline-block;
}

/* navbar */

.navbar.navbar-default {
    background-color: black;
    border-radius: 0;
    .navbar-brand {
        color: white;
    }
    .dropdown-toggle {
        color: white;
    }
}

.navbar-brand {
    height: 58px;
}

/* footer */

.footer {
    background-color: black;
    vertical-align: center;
    font-size: 0.8em;
    color: white;
    .footer-left {
        display: inline-block;
    }
}

/* customs */

.swim-test-subtext {
    padding: 10px;
}

