@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* fonts */

.history-section {
    font-family: 'Amatic SC', cursive;
    font-size: 34px;
}

.section-title {
    font-family: 'Amatic SC', cursive;
    font-size: 34px;
}

p {
    font-family: 'Domine', serif;
}

.alert.alert-secondary {
    position: absolute;
    z-index: 999;
    width: 80%;
    font-family: 'Domine', serif;
    text-align: center;
    color: black;
    background-color: lightblue;
    border: 1px solid lightblue;
    margin-left: 10vw;
    margin-top: 10px;
}

/* container */

.form-container {
    width: 70%;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0px solid black;
    border-radius: 5px;
    .form-group {
        width: 70%;
        margin: 0 auto;
        padding: 5px;
    }
}

.container {
    margin-bottom: 200px;
}

/* articles */

.card-title {
    border-bottom: 1px grey dashed;
}

/* buttons */

.buttonrow {
    display: inline-block;
}

/* navbar */

.navbar {
    margin-bottom: 0px;
    font-family: 'Domine', serif;
}

.navbar.navbar-default {
    background-color: black;
    border-radius: 0;
    border-color: black;
    .dropdown-toggle {
        color: white;
    }
}

.navbar-brand {
    margin-top: 10px;
    margin-left: 10px;
    padding: 0px;
    height: 30px;
}

/* footer */

.footer {
    background-color: black;
    vertical-align: center;
    font-size: 0.8em;
    color: white;
    .footer-left {
        display: inline-block;
    }
}

