@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

* {
    font-family: 'Lato', sans-serif !important;
}

.history-section {
    font-family: 'Amatic SC', cursive;
    font-size: 34px;
}

.section-title {
    font-family: 'Amatic SC', cursive;
    font-size: 34px;
}

p {
    font-family: 'Domine', serif;
}

label {
    font-family: 'Domine', serif;
}

ol {
    li {
        font-family: 'Domine', serif;
    }
}

ul {
    li {
        font-family: 'Domine', serif;
    }
}

.alert.alert-secondary {
    position: fixed;
    z-index: 999;
    width: 80%;
    font-family: 'Domine', serif;
    text-align: center;
    color: black;
    background-color: lightblue;
    border: 1px solid lightblue;
    background-color: rgba($color: lightblue, $alpha: 0.5);
    border: 1px solid rgb(153, 210, 230);
    margin-left: 10vw;
    margin-top: 60px;
}

.alert.alert-danger {
    margin: 0 px auto;
    width: 75%;
}

/* container */

.form-container {
    width: 70%;
    margin: 0 auto;
    padding: 15px;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // border: 0px solid black;
    border-radius: 5px;
    .form-group {
        width: 70%;
        margin: 0 auto;
        padding: 5px;
    }
}

.container {
    margin-top: 60px !important;
    margin-bottom: 200px !important;
}

/* pagination */

.pagination.pagination {
    display: block;
    margin: 10 0 10 0 auto;
}

/* articles */

.card-title {
    border-bottom: 1px grey dashed;
}

/* buttons */

.buttonrow {
    display: inline-block;
}

/* navbar */

.navbar {
    width: 100%;
    opacity: 1.0;
    z-index: 999;
    margin-bottom: 0px;
    font-family: 'Domine', serif;
}

.navbar.navbar-default {
    padding-left: 10px;
    background-color: black;
    border-radius: 0;
    border-color: black;
    .dropdown-toggle {
        color: white;
    }
}

.navbar-brand {
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
    height: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* footer */

.footer {
    background-color: black;
    vertical-align: center;
    font-size: 0.8em;
    color: white;
    .footer-left {
        display: inline-block;
    }
}

.date {
    color: white;
    &:hover {
        color: white;
    }
}

@media only screen and (max-width: 400px) {

    h1 {
        font-size: 2px;
    }

    .home-UIbuttons {
        font-size: 2px;
    }

    .navbar-extra-links {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }

    #footer {
        display: none;
    }
}
