// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.picture-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-img {
    height: 20vh;
}

.card.picture {
    margin: 2px;
    :hover {
        cursor: pointer;
    }
}

.img.modal-body {
    margin: 0 auto;
}

.picture-modal-whole {
    max-width: 100%;
}

.img-caption {
    color: black;
    font-size: 14px;
    background-color: white;
    text-align: center;
    padding: 5px;
}

#add-pic-button {
    text-align: center;
    margin: auto;
}

.picture-links-row {
    margin: 0 auto;
}

.picture-link {
    color: white;
    text-decoration: none;
}