// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.parallax.first {
    background-image: url("DSC_0345.jpg");
}
.parallax.second {
    background-image: url("DSC_0323.jpg");
}
.parallax.third {
    background-image: url("DSC_0311.jpg");
}
.parallax {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-text {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: auto;
}
.home-button {
    margin:0 auto;
    display: inline-block;
}