// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#para-one {
    background-image: url("DSC_0345.jpg");
}

#para-two {
    background-image: url("bruce2.jpg");
}

#para-three {
    background-image: url("DSC_0311.jpg");
}

.parallax-img {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-text {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: auto;
}

.home-button {
    background-color: white;
    border: 0px;
    border-radius: 0px;
    opacity: 0.8;
    color: black;
    margin: 0 auto;
    display: inline-block;
}

.home-UIbuttons {
    margin: 0 auto;
    font-family: 'Domine', serif;
    color: black;
    margin-top: 10px;
}

#title {
    font-family: 'Amatic SC', cursive;
    font-size: 65px;
    color: black;
}

#subtitle {
    font-size: 30px;
    font-family: 'Domine', serif;
    color: black;
}

.swim-test-subtext {
    padding: 10px;
}

.collapsible {
    color: black;
    background-color: white;
    border: 1px solid darkgreen;
    cursor: pointer;
}

.collapsible:hover {
    background-color: darkgreen;
    color: white;
    border: 1px solid white;
}

.collapse-table {
    display: none;
}

.table-content-collapse.table.table-bordered.table-sm {
    margin-top: 10px;
    td {
        width: 25%;
    }
}

.home-section {
    display: inline-block;
}

.UIlinks {
    padding: 15px;
}

.home-section.Intro.container {
    height: 450px;
}

.homepage-map {
    max-width: 90%;
}

@media only screen and (max-width: 414px) {    
    #para-one {
        background-image: url("DSC_0345.jpg") no-repeat center center;
    }

    #para-two {
        background-image: url("bruce2.jpg") no-repeat center center;
    }

    #para-three {
        background-image: url("DSC_0311.jpg") no-repeat center center;
    }

    #para-one, #para-two, #para-three {
        background-size:cover;
        background-attachment: scroll;
        height:100%;
        position:relative !important;
        width:100%;
        display: block;
        top:0;
        padding-bottom: 350px;
    }

    .home-section {
        display: block;
        position: relative;
        width: 100%;
        height: 100%; 
    }

    .UIlinks, .Intro , .Contacts {
        background-color: white;
        z-index: 2;
    }

    .home-button {
        display: block;
        margin-top: 5px;
    }

    .home-UIbuttons>li {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}