// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#homepage-row {
    display: flex;                 
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between; 
    color: white;
    text-align: center;
}

#homepage-row > div {
    width: 33%;
    height: 300px;
}

#exchange-card {
    background-image: url("DSC_0311.jpg");
    background-repeat: no-repeat;
    background-size: 450px;
    opacity: 0.7;
}

#weather-card {
    background-image: url("DSC_0323.jpg");
    background-repeat: no-repeat;
    background-size: 450px;
    opacity: 0.7;
}
 
#breakfast-card { 
    background-image: url("DSC_0345.jpg");
    background-repeat: no-repeat;
    background-size: 450px;
}

.homepage-UIactions {
    display: flex;                 
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between; 
    text-align: center;
    margin-bottom: 20px;
}
.homepage-UIactions > span {
    width: 33%;
}