// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-names {
    display: inline-block;
}

.user-contact {
    display: inline-block;
}

@media only screen and (max-width: 400px) {

}