.location-dropdown {
    margin-top: 24px;
    margin-right: 5px;
    margin-left: 7px;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 12px 6px 12px;
}

.seeking-radios {
    left: 60%;
}
.rideshare-date-pickers {
    margin-left: 7px;
    max-width: 100px;
    padding: 20px 0px;
}

@media screen and (max-width: 700px) {
    .rideshare-date-pickers {
        margin-left: 0px;
        max-width: 50%;
        padding: 20px 0px;
    }
}

.row-hover:hover {
    cursor: pointer;
    background-color: lightskyblue;
}

.addt-info {
    max-width: 50%;
}

.delete-location-btn {
    float: right;
    margin-bottom: 6px;
}

.ui.upward.dropdown>.menu {
    left: -100px;
}