<nav id="footer" class="navbar navbar-default navbar-fixed-bottom">
    <div class="footer" align="center">
        <div class="fixed-bottom">
                <span><p><div class="glyphicon glyphicon-home"></div> P.O. Box 308 Parry Sound, ON P2A 2X4 | P.O. Box 741 Ingomar, PA 15127</p></span>
                <span><p><div class="glyphicon glyphicon-earphone"></div> <%= ENV['icfc_phone'] %> | <div class="glyphicon glyphicon-print"></div> <%= ENV['icfc_fax'] %> | <div class="glyphicon glyphicon-envelope"></div> <%= ENV['icfc_email'] %></p></span>
        </div>
    </div>
</nav>