<div class="footer" align="center">
    <div class="footer-left">
        <span><p><div class="glyphicon glyphicon-home"></div> P.O. Box 308 Parry Sound, ON P2A 2X4 | P.O. Box 741 Ingomar, PA 15127</p></span>
        <span><p><div class="glyphicon glyphicon-earphone"></div> 705-375-2300 | <div class="glyphicon glyphicon-print"></div> 705-375-0405 | <div class="glyphicon glyphicon-envelope"></div> ICFC@vianet.on.ca</p></span>
    </div>
</div>